.recentPostsContainer {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.recentPostsTitle {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
}

.recentPostsDescription {
    text-align: center;
    font-size: 17px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
    padding: 0 100px;
}

.blogPost {
    border-radius: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-card);
}

.blogPostTitle {
    font-size: 1.4rem;
    margin: 1rem;
}

.blogPostImage {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.blogPostDate {
    margin: 1rem;
}