/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #21368B;
  --ifm-color-primary-dark: #6880dd;
  --ifm-color-primary-darker: #5a74da;
  --ifm-color-primary-darkest: #2e4fcf;
  --ifm-color-primary-light: #a4b2eb;
  --ifm-color-primary-lighter: #b2beee;
  --ifm-color-primary-lightest: #dfe4f8;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Trebuchet MS', sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0 0 0 / 0.3);
  --color-title: #1b244a;
  --color-description: #232f5e;
  --color-card: #FCFCFF;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a4b2eb;
  --ifm-color-primary-dark: #232f5e;
  --ifm-color-primary-darker: #212c59;
  --ifm-color-primary-darkest: #1b244a;
  --ifm-color-primary-light: #34468D;
  --ifm-color-primary-lighter: #4057B1;
  --ifm-color-primary-lightest: #657BD4;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --color-title: #dfe4f8;
  --color-description: #a4b2eb;
  --color-card: #3B467542;
  --ifm-background-surface-color: #131933;
  --ifm-background-color: #181824;
}

.footer--dark {
  --ifm-footer-background-color: #161D3B;
  padding: 1.5rem;
}

code,
.token.plain {
  color: #4057B1; 
}

[data-theme='dark'] code,
[data-theme='dark'] .token.plain {
  color: #a4b2eb;
}

.markdown ol{
  list-style-type: decimal !important;
}
